body {
    background: #fdfdfd;
}

/*MOVIE PAGE*/
.movie_page_main{
    color:red;
    border-bottom: 1px solid black;
    background-position: right  top;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-image: url('https://image.tmdb.org/t/p/original/pcDc2WJAYGJTTvRSEIpRZwM3Ola.jpg');*/
    height: 500px;
    width: 100%;
}