body {
    background: #fdfdfd;
}

.outlined {
    outline: 1px solid red;
}

/*MOVIE PAGE*/
.movie_page_main {
    color: red;
    border-bottom: 1px solid black;
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url('https://image.tmdb.org/t/p/original/pcDc2WJAYGJTTvRSEIpRZwM3Ola.jpg');*/
    margin-bottom: 18px;
}

.movie_page_container {
    background-image: linear-gradient(to right, rgba(5.10%, 5.88%, 4.71%, 1.00) 150px, rgba(5.10%, 5.88%, 4.71%, 0.60) 100%);
}

/*section*/

.movie_page_section {
    color: #fff;
}

/*poster_block*/
.movie_page_poster_block {
    border-width: 0px;
    min-width: 300px;
    width: 300px;
    /*height: 450px;*/
    overflow: hidden;
}

.movie_page_poster_img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*.movie_page_section_info*/
.movie_page_section_info {
    /*padding-left: 40px;*/
}

.movie_page_title {
    margin-bottom: 24px;
}

.movie_page_title > h2 {
    font-weight: 700;
}

/*.movie_page_facts*/
.movie_page_facts {
    margin-bottom: 24px;
}

.movie_page_facts span + span:before {
    font-size: 1.1em;
    line-height: 1;
    content: '\2022';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    /*z-index: -1;*/
}

.movie_page_facts span + span {
    padding-left: 20px;
    position: relative;
    top: 0;
    left: 0;
}

/*movie_page_info*/
.movie_page_info_tagline {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
}

.movie_page_info_tagline + h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 18px;
}

.movie_page_info_review {

}

/*movie_page_info_vote*/
.movie_page_info_vote {
    margin-bottom: 18px;
}

/*favorite*/
.movie_page_favorite {
    margin-bottom: 8px;
}

.movie_page_watchlist {
    margin-bottom: 8px;
}


/* ---------------------actingPage ----------------------*/
.actingPage {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.actingPage_card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 4px;
    border: 1px solid rgba(227, 227, 227, 1);
    padding-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;


    min-width: 140px;
    width: 140px;
    background-color: #fff;
}

.actingPage_card__img {
    min-width: 138px;
    width: 138px;
    height: 175px;
}

.actingPage_card__img > img {
    width: 100%;
    height: 100%;
}

.actingPage_card div + p {
    padding-top: 10px;
    font-weight: bold;
}

.actingPage_card > p {
    padding: 0 10px;
    font-size: 16px;
    margin: 0;
}

.actingPage_card p + p {
    font-size: 14px;
}


/*MoviePageInfo*/
.companyInfo{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #17a2b8;
}



/* ----------------------------- LOADING ----------------------*/

.loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}