body {
    background: #fdfdfd;
}

.outlined {
    outline: 1px solid red;
}

/*MOVIE PAGE*/
.moviePage {
    color: red;
    border-bottom: 1px solid black;
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url('https://image.tmdb.org/t/p/original/pcDc2WJAYGJTTvRSEIpRZwM3Ola.jpg');*/
    margin-bottom: 18px;
}

.moviePage__container {
    background-image: linear-gradient(to right, rgba(5.10%, 5.88%, 4.71%, 1.00) 150px, rgba(5.10%, 5.88%, 4.71%, 0.60) 100%);
}

/*section*/

.moviePage__section {
    color: #fff;
}

/*poster_block*/
.moviePage__poster-block {
    border-width: 0px;
    min-width: 300px;
    width: 300px;
    /*height: 450px;*/
    overflow: hidden;
}

.moviePage__poster-block-img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*.movie_page_section_info*/
.moviePage__section-info {
    /*padding-left: 40px;*/
}

.moviePage__title {
    margin-bottom: 24px;
}

.moviePage__title > h2 {
    font-weight: 700;
}

/*.movie_page_facts*/
.moviePage__facts {
    margin-bottom: 24px;
}

.moviePage__facts span + span:before {
    font-size: 1.1em;
    line-height: 1;
    content: '\2022';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    /*z-index: -1;*/
}

.moviePage__facts span + span {
    padding-left: 20px;
    position: relative;
    top: 0;
    left: 0;
}

/*movie_page_info*/
.moviePage__tagline {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
}

.moviePage__tagline + h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 18px;
}

.moviePage__review {

}

/*movie_page_info_vote*/
.moviePage__vote {
    margin-bottom: 18px;
}

/*favorite*/
.favorite {
    margin-bottom: 8px;
}

.watchlist {
    margin-bottom: 8px;
}


/* ---------------------actingPage ----------------------*/
.actingPage {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.actingPage__card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 4px;
    border: 1px solid rgba(227, 227, 227, 1);
    padding-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;


    min-width: 140px;
    width: 140px;
    background-color: #fff;
}

.actingPage__img {
    min-width: 138px;
    width: 138px;
    height: 175px;
}

.actingPage__img img {
    width: 100%;
    height: 100%;
}

.actingPage__card div + p {
    padding-top: 10px;
    font-weight: bold;
}

.actingPage__card > p {
    padding: 0 10px;
    font-size: 16px;
    margin: 0;
}

.actingPage__card p + p {
    font-size: 14px;
}


/*MoviePageInfo*/
.companyInfo {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #17a2b8;
}


/* ----------------------------- LOADING ----------------------*/

.loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------PERSON PAGE-------------------------*/
.person__poster {
    min-width: 300px;
    width: 300px;
    height: 450px;
}

.person__poster > img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.person__details-title {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 8px;
}

/*SOCIAL*/
.social {
    height: 30px;
    margin-bottom: 30px;
    display: inline-block;
}
.social > div {
}
.social-twitter {
    margin-right: 10px;
}

.social-instagram {
    margin-right: 10px;
}
.social-facebook{
    margin-right: 10px;
}
.person__info > p{
    margin: 0 0 20px 0;
    font-size: 1em;
}
.person__info > p strong{
    display: block;
    font-weight: 600;
}


/*person__content*/
.person__content{
    padding-left: 30px;
}

.person__content-title {
    font-size: 2.2rem;
}

.person__biography{
    margin-top: 30px;
}
.person__biography h3{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 8px;
}